/* Samll Laptop */
@media (1024px <=width <=1350px) {
    .banner-section {
        background-position: 600px 50px;
        background-size: 500px;

    }

    /* ______________________COFFE SECTION___________________________ */

    .coffe-section {
        padding: 100px 0 30px;
    }


    .coffe-content {
        width: 72%;

    }

    /* _______________________COFFE PRODUCTS________________________ */

    .cards-section {
        padding: 50px 0;
    }

    .card {
        width: 23%;
    }

    /* card image Animation */
    .card:hover {
        transform: translateY(-15px);
    }

    .card-background img {
        width: 95px;
        position: absolute;
        left: 29%;
        top: 10%;
    }

    .card-rating .card-button button {
        width: 80px;
    }

    /* _________________FOOTER___________________ */

    .footer {
        padding: 50px 0 0;
        border-top: 1px solid hsl(13, 50%, 27%);
    }


    .footer .content {
        padding: 50px 0;
    }


    .footer .logo img {
        width: 150px;
    }

    .footer ul {
        flex-basis: 300px;
    }


    .footer ul a {
        text-decoration: none;
        color: hsl(13, 50%, 27%);
    }


}


/* Tablet Version */

@media (768px <=width <=1024px) {

    header {
        padding: 0;
    }

    /* LOGO */
    .logo a img {
        width: 150px;
    }

    nav ul {
        gap: 50px;
    }

    nav ul li a {
        font-size: 13px;
    }

    /* Search Box */
    .search-box {
        display: none;
    }

    /* _________________Banner Section____________________ */


    .banner-section {
        background-image: none;
        padding: 100px 0 20px;

    }

    .container {
        width: 90%;
        margin: 0 auto;

    }

    .banner-section .content {
        width: 700px;
        margin: 0 auto;
    }

    .content h1 {
        margin: auto;
        text-align: center;
        font-size: 40px;
        width: 600px;
        padding: 0;
    }

    .content p {
        font-size: 20px;
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }

    .content .buttons {
        text-align: center;
        margin-top: 20px;
    }

    /* ______________________COFFE SECTION___________________________ */

    .coffe-section {
        padding: 80px 0;
    }

    .coffes-wrapper {
        margin: 50px 0;
    }
    .coffe {
        width: 30%;
        margin: 30px 0 0;
    }

    
    .coffe-content {
        width: 95%;

    }

    .coffe h1 {
        margin-top: 10px;
        border-bottom: 1px solid hsl(13, 50%, 27%);
    }

    .coffe img {
        width: 100px;
    }

    .coffe span,
    p {
        font-size: 14px;
        padding: 5px;
        text-align: center;
    }
}