* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ______________________Header_______________________ */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    border-bottom: 1px solid rgba(141, 73, 9, 0.918);
    padding: 50px 0;
    transition: 0.3s;
}

/* header:hover {
    box-shadow: 1px 1px 5px 1px rgba(61, 25, 1, 0.445);

} */

/* LOGO */

.logo a img {
    width: 200px;
}

/* NAVBAR */
nav {
    padding: 20px 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
    /* gap: 30px; */
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    position: relative;
}

nav ul li a::before {
    content: ' ';
    width: 0;
    height: 2px;
    background-color: hsl(13, 50%, 27%);
    position: absolute;
    bottom: -10px;
    transition: all 0.3s;
}

nav ul li a:hover::before {
    width: 100%;
    font-weight: 600;
}



.active {
    font-weight: 600;
    color: hsl(13, 50%, 27%);
    
}



/* Search Box */

.search-box {
    border: 1px solid hsl(13, 50%, 27%);
    width: 20%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}


input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 90%;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: rgba(99, 97, 97, 0.822);
    transition: 0.3s ease-in;
    letter-spacing: 2px;
}

input:focus {
    box-shadow: 0 0 3px 2px rgba(116, 49, 1, 0.336);

}

.search-box a {
    width: 17%;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(13, 50%, 27%);
}

.search-box a:hover {
    border: 1px solid;

}

.search-box a i {
    color: #fff;
    font-size: 20px;
}


/* _________________Banner Section____________________ */


.banner-section {
    background-image: url('./images/cup.png');
    /* height: 100vh; */
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: 800px 50px;
    background-size: 550px;

}

.container {
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid red; */

}

.banner-section .content {
    padding: 20px 30px;
    max-width: 700px;
    margin: 10px 60px;
    color: hsl(13, 50%, 27%);
}

.content h1 {
    font-size: 44px;
    width: 400px;
    padding: 10px 0;
    line-height: 1.3;
}

.content p {
    font-size: 19px;
    width: 400px;
    padding: 18px 0;
    line-height: 1.3;
}


.content .btn {
    padding: 10px;
    width: 18%;
    cursor: pointer;
    border: 2px solid hsl(13, 50%, 27%);
    border-radius: 2px;
}

.content .btn:first-child {
    background-color: hsl(13, 50%, 27%);
    color: #fff;
}

.content .btn:nth-child(2) {
    background-color: #fff;
    margin-left: 30px;
}

/* ______________________COFFE SECTION___________________________ */

.coffe-section {
    padding: 100px 0;
    /* border: 2px solid black; */
}

.coffes-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.coffe {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 50px;
}


.coffe-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    padding: 20px 0;
    border-radius: 5px;

}

.coffe-content:hover {
    transition: 0.2s ease;
    box-shadow: 0 0 13px 3px hsla(13, 50%, 27%, 0.116);

}

.coffe h1 {
    color: hsl(13, 50%, 27%);
    padding: 5px 3px;
    font-size: 18px;
    border-bottom: 1px solid hsl(13, 50%, 27%);
}

.coffe img {
    width: 100px;
}

.coffe span,
p {
    color: hsl(13, 50%, 27%);
    font-size: 15px;
    padding: 5px 0;
}


/* _______________________COFFE PRODUCTS________________________ */

.cards-section {
    padding: 50px 0;
}


.main-heading {
    color: rgb(73, 31, 2);
    font-size: 40px;
    text-align: center;
    position: relative;
}

.main-heading::before {
    content: ' ';
    width: 6%;
    height: 3px;
    background-color: hsl(13, 50%, 27%);
    position: absolute;
    bottom: -12px;
    left: 47%;
}

.main-card {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.card {
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    background-color: hsl(13, 50%, 27%);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}

.card-background {
    width: 100%;
    height: 100px;
    background-image: url('./images/coffee\ beens.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    height: 150px;
}

/* card image Animation */
.card:hover {
    transform: translateY(-15px);
}

.card-background img {
    width: 95px;
    position: absolute;
    left: 29%;
    top: 10%;
}

.card-content {
    padding: 10px 5px;
    color: #fff;
}


.card-content h1 {
    font-size: 17px;
    font-weight: 400;
    padding: 0 0 5px;
}

.card-content p {
    font-size: 12px;
    color: #fffcfcde;
    line-height: 17px;
}

/* ____Card Rating____ */

.card-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-rating .stars i {
    font-size: 12px;
    color: orange;

}

.card-rating .stars span {
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
}


.card-rating .card-button button {
    font-size: 12px;
    color: #fff;
    padding: 8px 0;
    width: 90px;
    border: 1px solid #fff;
    background: none;
    cursor: pointer;
}